.truncate {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.disclaimer {
  margin: 0 auto 50px;
  text-align: center;
  width: 400px;
}

.btn {
  border: none;
  cursor: pointer;
  display: block;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  outline: none;
  padding: 15px;
  transition: all .1s linear;
}

.wrapper {
  box-shadow: 0 4px 20px rgba(51, 51, 51, 0.2);
  margin: 50px auto;
  overflow: auto;
  width: 1024px;
}

.footer {
  background: #f5f5f5;
  border-top: 1px solid #ddd;
  color: #999;
  clear: both;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  width: 100%;
}
