.note {
	text-align: center;
	height: 80px;
	background: -webkit-linear-gradient(left, #0072ff, #8811c5);
	color: #fff;
	font-weight: bold;
	line-height: 80px;
}
.form-content {
	padding: 5%;
	border: 1px solid #ced4da;
	margin-bottom: 2%;
}
.form-control {
	border-radius: 1.5rem;
}
button {
	border: none;
	border-radius: 1.5rem !important;
	padding: 1%;
	width: 20%;
	cursor: pointer;
	background: #0062cc;
}
.btnSubmit {
	background: #0062cc;
	color: #fff;
}
.btnEdit {
	background: #f4a;
	color: #fff;
}
.btnTable {
	background: #90ee90;
	color: #000;
}
