<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
        <input type="text" id="key" placeholder="Key">
    
        <input type="text" id="value" placeholder="Value">
      
        <button onclick="addParam()">Add Param</button>
  </body>
  <script>
    function addParam() {
      const urlParams = new URLSearchParams(window.location.search);

      urlParams.set(
        document.getElementById("key").value,
        document.getElementById("value").value
      );

      window.location.search = urlParams;
    }
  </script>
  <style>
    input[type="text"],
    select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    button {
      width: 100%;
      background-color: #04aa6d;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: #45a049;
    }

    div.container {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
	  width: 50%;
    }
  </style>
</html>
