
.emaillist {
    background: #f5f5f5;
    float: left;
    height: 500px;
    max-height: 100%;
    overflow-y: auto;
    width: 35%;
  }
  .emaillist.empty {
    color: #aaa;
    padding-top: 200px;
    text-align: center;
  }
  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 0.5s linear infinite;
    margin:0 auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }