
.emailcontent {
    background: #fff;
    border-left: 1px solid #ddd;
    float: left;
    height: 500px;
    position: relative;
    width: 65%;
  }
  .emailcontent__header {
    background: #f5f5f5;
    border-bottom: 1px solid #eee;
    padding: 10px 15px;
  }
  .emailcontent__subject {
    font-size: 18px;
    margin: 10px 0;
  }
  .emailcontent__details {
    font-size: 12px;
    opacity: .5;
    text-transform: uppercase;
  }
  .emailcontent__time {
    color: #878787;
    float: right;
  }
  .emailcontent__from {
    color: #878787;
  }
  .emailcontent__message {
    padding: 20px 15px 15px;
  }
  .emailcontent .deletebtn {
    cursor: pointer;
    margin: -5px;
    padding: 5px;
    position: absolute;
    right: 20px;
    top: 24px;
    transition: color .1s linear;
  }
  .emailcontent .deletebtn:hover {
    color: #E23E57;
  }