.emailitem {
    background: #fff;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    padding: 10px 15px;
    position: relative;
  }
  .emailitem.selected {
    color: #009fc4;
  }
  .emailitem__subject {
    margin-bottom: 8px;
  }
  .emailitem__details {
    font-size: 12px;
    opacity: .5;
    text-transform: uppercase;
  }
  .emailitem__unreaddot {
    height: 100%;
    right: 10px;
    position: absolute;
    top: 10px;
  }
  .emailitem__unreaddot[data-read="false"]:before {
    background: #009fc4;
    border-radius: 50%;
    content: '';
    display: block;
    height: 6px;
    width: 6px;
  }
  .emailitem__time {
    float: right;
    text-align: right;
    width: 40%;
  }
  .emailitem__from {
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
  }
  .emailitem:hover:not(.selected) {
    background: #fafafa;
  }