<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>LOGIN</title>
		<link rel="stylesheet" href="static/css/style.css" type="text/css" />
	</head>
	<body
		class="img js-fullheight"
		style="background-image: url(static/images/bg.jpg);"
	>
		<section class="pt-5">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-6 text-center mb-5">
						<h2 class="heading-section">Login</h2>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-6 col-lg-4">
						<div class="login-wrap p-0">
							<h3 class="mb-4 text-center">Bereits einen Account?</h3>
							<form
								action="/user/login"
								method="POST"
								class="signin-form"
							>
								<div class="form-group">
									<input
										type="text"
										class="form-control"
										placeholder="Username"
										name="username"
										required
									/>
								</div>
								<div class="form-group">
									<input
										id="password-field"
										type="password"
										class="form-control"
										placeholder="Password"
										name="password"
										required
									/>
								</div>
								<div class="form-group">
									<button
										class="form-control btn btn-primary submit px-3"
									>
										Login
									</button>
								</div>
								<div class="form-group d-md-flex">
									<div class="w-50">
										<label
											class="checkbox-wrap checkbox-primary"
										>
											Remember Me
											<input type="checkbox" checked />
											<span class="checkmark"></span>
										</label>
									</div>
									<div class="w-50 text-md-right">
										<a href="#" style="color: #fff">
											Forgot Password
										</a>
									</div>
								</div>
								<div class="form-group">
									<div class="w-100 justify-md-center">
										<a
											class="text-center text-white"
											href="/user/signup"
										>
											Registrieren
										</a>
									</div>
								</div>
							</form>
							<!-- <div class="social d-flex text-center">
								<a
									href="#"
									class="px-2 py-2 mr-md-1 rounded"
								><span class="ion-logo-facebook mr-2"></span>
									Facebook</a>
								<a
									href="#"
									class="px-2 py-2 ml-md-1 rounded"
								><span class="ion-logo-twitter mr-2"></span>
									Twitter</a>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>