<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>QuizApp - Register</title>
		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body>
		<div class="font-sans min-h-screen antialiased bg-gray-900 pt-24 pb-5">
			<div
				class="flex flex-col justify-center sm:w-96 sm:m-auto mx-5 mb-5 space-y-8"
			>
				<h1 class="font-bold text-center text-4xl text-yellow-500">
					Quiz<span class="text-blue-500">App</span>
				</h1>
				<form>
					<!-- CSRF -->
					<input type="hidden" id="csrf" value="{{CSRFTOKEN}}" />
					<div
						id="innerBox"
						class="flex flex-col bg-white p-10 rounded-lg shadow space-y-6"
					>
						<h1 class="font-bold text-xl text-center">
							Register a Account
						</h1>

						<div class="flex flex-col space-y-1">
							<input
								type="text"
								name="username"
								id="username"
								class="border-2 rounded px-3 py-2 w-full focus:outline-none focus:border-blue-400 focus:shadow"
								placeholder="Username"
							/>
						</div>

						<div class="flex flex-col space-y-1">
							<input
								type="text"
								name="email"
								id="email"
								class="border-2 rounded px-3 py-2 w-full focus:outline-none focus:border-blue-400 focus:shadow"
								placeholder="E-Mail Adresse"
							/>
						</div>

						<div class="flex flex-col space-y-1">
							<input
								type="password"
								name="password"
								id="password"
								class="border-2 rounded px-3 py-2 w-full focus:outline-none focus:border-blue-400 focus:shadow"
								placeholder="Password"
							/>
						</div>

						<div class="flex flex-col space-y-1">
							<input
								type="password"
								name="confirm"
								id="confirm"
								class="border-2 rounded px-3 py-2 w-full focus:outline-none focus:border-blue-400 focus:shadow"
								placeholder="Confirm Password"
							/>
						</div>

						<div class="flex flex-col space-y-1">
							<button
								id="register"
								class="bg-blue-500 text-white font-bold px-5 py-2 rounded focus:outline-none shadow hover:bg-blue-700 transition-colors"
							>
								Register
							</button>
						</div>
						<div class="flex flex-col space-y-1">
							<a
								href="/user/login"
								class="inline-block text-blue-500 hover:text-blue-800 hover:underline text-right"
							>
								Already an Account? Log in!
							</a>
						</div>
					</div>
				</form>
				<div class="flex justify-center text-gray-500 text-sm">
					<p>&copy;2022. All right reserved.</p>
				</div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
		<script src="/js/helpers.js"></script>
		<script src="/js/login.js"></script>
	</body>
</html>
