<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <p></p>
    <form action="/person" method="POST">
      <div>
        <label for="newKey">Add Key</label>
        <input
          type="text"
          name="newKey"
          id="newKey"
          placeholder="newKey"
        />
      </div>
      <div>
        <label for="newValue">Add Value</label>
        <input
          type="text"
          name="newValue"
          id="newValue"
          placeholder="newValue"
        />
      </div>
      <button>Login</button>
    </form>
  </body>
</html>
