.navlinks {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
  }
  
  .navlinks a {
    color: #fff;
    cursor: pointer;
    display: block;
    padding: 15px;
    text-decoration: none;
    transition: background .1s linear;
    width: 100%;
  }
  
  .navlinks a:hover,
  .navlinks a:active,
  .navlinks .aktiviert {
    background: #404549 !important;
  }