@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #eee;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 150%;
}